@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*Configurações gerais*/

* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a,
h1,
h2,
h3,
h4,
p {
    font-family: 'Open Sans', sans-serif;
}


/*Fim configurações gerais*/


/*Definição de cores*/

:root {
    --cinza: #808285;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
    --cinza_sombra: #E6E6E6;
}


/*Fim definição de cores*/


.secao-geral-descricao{
    /* background: lightblue; */
    display: flex;
    height: 100vh;
    margin: auto;
    width: 60vw;
}

.container_descrição{
    /* background: lightcoral; */
    width: 40vw;
}

.quadrado_forades{
    /* background: lightgreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 20vw;
}

.imagem-usuario{
    /* background: red; */
    border-radius: 100%;
    height: 10vh;
    width: 5vw;
}

.imagem-usuario img{
    border-radius: 100%;
    height: 10vh;
    width: 5vw;
}

.imagem-evento img{
    border: 0.80px solid var(--cinza);
    height: 35vh;
    width: 30vw;
}

.direita_topo_descrição{
    align-items: center;
    /* background: lightpink; */
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    flex-direction: column;
    height: 23vh;
    padding: 1.50em 0;
}

.botao-inscrever-descricao-evento{
    /* background: aqua; */
    display: flex;
    justify-content: center;
    margin: auto;
    width: 15vw;
}

.botao-inscrever-descricao-evento a{
    align-items: center;
    background: var(--rosa);
    color: var(--branco);
    display: flex;
    font-size: 1em;
    font-weight: 800;
    height: 5vh;
    justify-content: center;
    text-decoration: none;;
    width: 14vw;
}


.redes_descrição{
    /* background: lightseagreen; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 14vw;
}

.rede-social-compartilhar-descricao-evento img{
    height: 4vh;
    width: 1.9vw;
}

.info_descrição{
    align-items: center;
    /* background: lightslategrey; */
    box-shadow: 2px 2px 15px var(--cinza_sombra);
    display: flex;
    justify-content: space-between;
    height: 60vh;
    flex-direction: column;
}

.textoinfo_descrição{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
}

.data_descrição{
    /* background: magenta; */
    width: 15vw;
}


.local_descrição{
    /* background: coral; */
    padding: 0 1em;
}

.nome_local_img-descrição{
    align-items: center;
    /* background: crimson; */
    display: flex;
    width: 15vw;
}

.nome_local_img-descrição img{
    height: 3vh;
    width: 1.50vw;
}

.nome_local_img-descrição p{
    font-size: 1.20em;
    padding: 0 0.30em;
}

.endereco_local_img-descrição{
    /* background: chartreuse; */
    padding: 0 1.85em;
}

.endereco_local_img-descrição p{
    font-size: 0.80em;
    font-weight: 100;
}

.parte1_descrição{
    /* background: cornflowerblue; */
    padding: 0 1em;
}

.data_img-descrição{
    align-items: center;
    /* background: crimson; */
    display: flex;
    width: 15vw;
}

.data_img-descrição img{
    height: 3vh;
    width: 1.50vw;
}

.data_img-descrição p{
    font-size: 1.20em;
    padding: 0 0.30em;
}

.data-horario-descrição{
    /* background: chartreuse; */
    padding: 0 1.85em;
}

.data-horario-descrição p{
    font-size: 0.80em;
    font-weight: 100;
}

.parte3_descrição iframe{
    width: 20vw;
    margin-top: 5em 0;
}
