@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a, h1, h2, h3, p, button{
    font-family: 'Open Sans';
}

/*Fim configurações gerais*/

/*Definição de cores*/
:root{
    --cinza: #808285;
    --verde: #11AA58;
    --azul: #3CBACE;
    --roxo: #94399E;
    --rosa: #EF5BA1;
    --vermelho: #ED312F;
    --laranja: #F68934;
    --amarelo: #F5C10D;
    --preto: #000000;
    --branco: #FFFFFF;
    --roxo_banner:#5a155a;
    --botão_hover: #f9acd0;
    --cinza_sombra: #E6E6E6;
}
/*Fim definição de cores*/

/*Configurações do header*/
#topo-home{
    align-items: center;
    background-color: var(--branco);
    display: flex;
    height: 15vh;
    justify-content: space-between;
    width: 100%;
    border: var(--cinza_sombra) solid 1px;
}

.logo{
    width: 40%;
}

.logo img{
    height: 100%;
    width: 100%;
}

.div-topo-home-esquerda{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
    
}

.div-topo-home-direita{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 35%;
}

.menu-home{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    width: 40%;
}

.menu-home ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 100%;
}

.menu-home ul a{
    color: var(--preto);
    font-weight: bold;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.menu-home ul a:hover{
    color: var(--rosa);
    border-bottom: 2px solid var(--rosa);
}

.menu-toggle{
    display: none;
}

.menu-toggle i{
    cursor: pointer;
}
/*Fim das configurações do Header*/

/* Configurações main */
.container_edicaoConcluidaAdm{
    /* background: #ED312F; */
    display: flex;
    /* width: 100vw; */
    justify-content: space-evenly;
    height: 25vh;
    /* background: #5a155a; */
}

.container2_edicaoConcluidaAdm{
    display: flex;
    justify-content: space-evenly;
    /* background: #3CBACE; */
}

.data_edicaoConcluidaAdm{
    /* background: #F5C10D; */
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 15vh;
}

.data_edicaoConcluidaAdm h2{
    font-size: 1.3em;
}

.edicaoConcluidaAdm_edicaoConcluidaAdm{
    /* background: red; */
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 30px;
}

.edicaoConcluidaAdm_edicaoConcluidaAdm img{
    height:40vh ; 
}

.edicaoConcluidaAdm_edicaoConcluidaAdm p{
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0.7em;
}

.direita_topo_edicaoConcluidaAdm{
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #11AA58; */
    height: 20vh;
}

.direita_topo_edicaoConcluidaAdm button{
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 1em;
    font-weight: bold;
    /* padding: 1em 1.8em; */
    border: none;
    height: 6vh; 
    cursor: pointer;
    width: 15vw;
} 

button:hover{
    box-shadow: 1px 1px 5px #CCC;
   opacity: 0.8;
   transition: 0.6s;
}

.info_edicaoConcluidaAdm{
    background: var(--branco);
    /* background: #94399E; */
    width: 25vw;
    height: 57vh;
    /* display: flex;
    flex-direction: column; */
    border: solid var(--cinza_sombra) 1px;
    box-shadow: 10px 10px 20px var(--cinza_sombra);
    margin-right: 65px;
    margin-top: 40px;
}

.info_edicaoConcluidaAdm img{
    width: 2.5vw;
    height: 5vh;
    margin: 20px;
}

.esquerda_topo_edicaoConcluidaAdm{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

.esquerda_topo_edicaoConcluidaAdm h1{
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    
}

.quadrado_forades{
    /* background: #F5C10D; */
   width: 25vw;
   height: 25vh;
   display: flex;
   justify-content: center;
   align-items: center;
   border: var(--cinza_sombra) solid 1px;
   background: var(--branco);
   box-shadow: 10px 10px 20px var(--cinza_sombra);
   margin-top: 20px;
}

.redes_edicaoConcluidaAdm{
    display: flex;
    align-items: center;
    width: 20vw;
    margin: 5px 0;
    justify-content: space-around;
}

.redes_edicaoConcluidaAdm a{
    padding: 3px;
}

.redes_edicaoConcluidaAdm img{
  width: 2.5em;
}

.redes_edicaoConcluidaAdm p{
    font-size: 1.2em;
}

.usuario_edicaoConcluidaAdm{
    display: flex;
    align-items: center;
}

.usuario_edicaoConcluidaAdm img{
    height: 8vh;
    margin-top: 8px;
    margin-right: 10px;
}

.parte1_edicaoConcluidaAdm{
    /* background: #11AA58; */
    display: flex; 
     /* justify-content: space-around; */
    /*align-content: center; */
    height: 6vw; 
    margin-top: 10px;
}

.parte2_edicaoConcluidaAdm{
     display: flex; 
     /* justify-content: space-around; */
    /*align-content: center; */ 
    height: 7vw;
    /* background: #F5C10D; */
}

.local_edicaoConcluidaAdm{
   margin: 0; 
}

.local_edicaoConcluidaAdm h2{
    font-size: 1.3em
}

.parte3_edicaoConcluidaAdm{
    /* background: #11AA58; */
    height: 28vh;
    /* margin-top: 10px; */
}

.parte3_edicaoConcluidaAdm img{
    width: 24.9vw;
    height: 28vh;
    margin: 0;
    
}
/* Fim configurações main */

/*Configurações do footer*/
#rodapé-home{
    /* background: var(--branco); */
    height: 20vh;
    width: 98.9vw;
    /* border: var(--cinza) solid 1px; */
    background: var(--cinza_sombra)
}

.rodapé-conteudo-home{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2em;
    width: 80vw;
}

.rodapé-logos{
    height: 12vh;
    width: 15vw;
}

.rodapé-logo-tw-home img{
    height: 4vh;
    width: 10vw;  
}

.rodapé-logo-eventshare-home img{
    height: 2.5vh;
    padding-left: 0.15em;
    width: 6vw;
}

.rodapé-contato p{
    color: var(--preto);
    font-size: 0.75em;
    font-weight: bold;
    padding-top: 1em;
}

.rodapé-redes-sociais{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 1em;
    width: 8vw;
}

.rodapé-redes-sociais p{
    color: var(--preto);
    font-size: 0.95em;
    font-weight: bold;
    padding-bottom: 0.50em;
    text-align: center;
}

.rodapé-icones{
    display: flex;
    justify-content: space-evenly;
    height: 3vh;
    width: 7vw;
}

.rodapé-icones div{
    height: 4.5vh;
    width: 8vh;
}

.imagens_icones{
    height: 100%;
    width: 100%;
    padding: 0 0.10em;
}
/*Fim das configurações do footer*/



/*Media Query 768px*/
@media screen and (max-width: 768px){
    #topo-home{
        /* background: #3CBACE; */
        height: 20vh;
    }

    .menu-home{
        height: 20vh;
        /* background: #ED312F; */
        width: 30vw;
    }

    .logo img{
        width: 20vw;
    }
    
    .container_edicaoConcluidaAdm{
        /* background: #3CBACE; */
        width: 100vw;
    }

    h1{
        width: 50vw;
    }

    .quadrado_forades{
        width: 35vw;
    }

    .redes_edicaoConcluidaAdm{
        width: 30vw;
    }

    .redes_edicaoConcluidaAdm p{
        font-size: 1em;
    }

    .redes_edicaoConcluidaAdm img{
        width: 4vw;
        margin: 2px;
    }

    .direita_topo_edicaoConcluidaAdm{
        display: flex;
        width: 30vw;
        justify-content: center;
    }

    .direita_topo_edicaoConcluidaAdm button{
        width: 30vw;
    }
 
    .container2_edicaoConcluidaAdm{
        display: block;
        margin-top: 50px;
    }

    .edicaoConcluidaAdm_edicaoConcluidaAdm{
        width: 70vw;
        margin-left: 110px;
        margin-bottom: 30px;
    }

    .edicaoConcluidaAdm_edicaoConcluidaAdm img{
        height: 50vh; 
    }

    .info_edicaoConcluidaAdm{
        width: 100vw;
        background: var(--cinza_sombra);
        height: 35.2vh;
        /* background: #11AA58; */
        display: flex;
        flex-flow: row nowrap;
       
    }

    .textoinfo_edicaoConcluidaAdm{
        /* background: #F5C10D; */
        width: 60vw;
    }

    .parte1_edicaoConcluidaAdm{
        /* background: #EF5BA1; */
        width: 60vw;
        height: 15vh;
        margin-top: 10px;
    }

    .parte1_edicaoConcluidaAdm img{
        width: 4vw;
        height: 5vh;
        margin: 22px;
    }

    .data_edicaoConcluidaAdm{
        /* background: #11AA58; */
        width: 70vw;
    }

    .parte2_edicaoConcluidaAdm{
        /* background: yellow; */
        width: 60vw;
        height: 20vh;
        display: flex;
        justify-content: center;
      
    }

    .parte2_edicaoConcluidaAdm img{
        width: 4vw;
        height: 5vh;
        margin: 22px;
    }

    .local_edicaoConcluidaAdm{
        /* background: #11AA58; */
        width: 70vw;
        
    }


    .parte3_edicaoConcluidaAdm img{
        width: 40vw;
        height: 35vh;  
    }

   #rodapé-home{
       background: var(--branco);
   }

   .rodapé-logo-tw-home img{
       width: 15vw;
   }

   .rodapé-logo-eventshare-home img{
       width: 9vw;
   }

   .rodapé-contato{
       /* background: #EF5BA1; */
       width: 40vw;
   }

   .rodapé-icones img{
       width: 4vw;
   }


}
/*Fim Media Query 768px*/


/*Media Query 376px*/
@media screen and (max-width: 376px){
#topo-home{
    /* background: red; */
    height: 25vh;
    width: 100vw;
    display: flex;
}

.logo img{
    width: 40vw;
}

.div-topo-home-direita{
    /* background: #11AA58; */
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.menu-home{
    /* background: yellow; */
    width: 50vw;
    height: 25vh;
}

.container_edicaoConcluidaAdm{
    display: block;
}

h1{
    
    width: 80vw;
}

.esquerda_topo_edicaoConcluidaAdm{
    margin-left: 30px;
}

.quadrado_forades{
    width: 90vw;
    margin: 20px auto;
    /* background: red; */
    height: 35vh;
}

.direita_topo_edicaoConcluidaAdm{
    /* background: #F5C10D; */
    width: 80vw;
    height: 30vh;

}

.direita_topo_edicaoConcluidaAdm button{
    width: 80vw;
    height: 10vh;

}

.redes_edicaoConcluidaAdm{
    /* background: #3CBACE; */
    width:80vw;
    font-size: 1.5em; 
}

.redes_edicaoConcluidaAdm p{
    font-size: 1em;
}

.redes_edicaoConcluidaAdm img{
   margin-top: 8px;
    width: 10vw;
}

.container2_edicaoConcluidaAdm{
    margin-top: 280px;
}

.container2_edicaoConcluidaAdm img{
    height: 40vh;
}

.edicaoConcluidaAdm_edicaoConcluidaAdm{
    display: flex;
    justify-content: center;
    /* background: #EF5BA1; */
    margin: 20px auto;
    width: 90vw;
}

.info_edicaoConcluidaAdm{
    display: block;
    height: 42vh;
    /* background: #EF5BA1; */
}

.textoinfo_edicaoConcluidaAdm{
    /* background: #11AA58; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.textoinfo_edicaoConcluidaAdm img{
    
    width: 10vw;
    height: 8vh;
}

.parte1_edicaoConcluidaAdm{
    /* background: #F5C10D; */
    width: 90vw;
}

.parte2_edicaoConcluidaAdm{
    width: 90vw;
    /* background: #3CBACE; */
    height: 23vh;
}

.parte3_edicaoConcluidaAdm img{
    width: 100vw;
}

#rodapé-home{
    /* background: #EF5BA1; */
    margin-top: 250px;
    height: 35vh;
    
}

.rodapé-conteudo-home{
    display: block;
}

.rodapé-logo-tw-home img{
    width: 27vw;
}
 
.rodapé-logo-eventshare-home img{
    width: 18vw;
}

.rodapé-contato{
    /* background: #3CBACE; */
    width: 70vw;
}

.rodapé-redes-sociais{
    /* background: #11AA58; */
    width: 80vw;
    height: 15vh;
    
}



.rodapé-icones img{
    width: 10vw;
    height: 6vh;
    margin: 0 3px;
}

}
/*Fim Media Query 375px*/